body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite; }

@keyframes gradientBG {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px; }
  header .wrapper h1 {
    border-bottom: white 2px solid;
    padding-bottom: 6px; }

.aboutMe {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-bottom: 50px; }
  @media only screen and (min-width: 320px) and (max-width: 720px) {
    .aboutMe {
      display: flex;
      flex-direction: column;
      width: 100%; }
      .aboutMe .textWrapper {
        width: calc(100% - 80px); } }
  @media only screen and (min-width: 720px) {
    .aboutMe {
      display: flex;
      flex-direction: row; }
      .aboutMe .textWrapper {
        width: 50%; } }
  .aboutMe .textWrapper {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px; }
    .aboutMe .textWrapper a {
      text-decoration: none;
      color: white; }
  .aboutMe .imageWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-bottom: 60px;
    padding-top: 40px;
    max-height: 400px; }
    @media only screen and (min-width: 320px) and (max-width: 720px) {
      .aboutMe .imageWrapper {
        width: 100%; } }
    .aboutMe .imageWrapper img {
      width: auto;
      height: 100%;
      border-radius: 4px;
      border: white 2px solid; }
      @media only screen and (min-width: 320px) and (max-width: 720px) {
        .aboutMe .imageWrapper img {
          display: flex;
          flex-direction: row;
          justify-content: center; } }

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  width: 100%; }
  .map iframe {
    width: 100%; }
